@charset "UTF-8";
@font-face {

    font-family: 'arialblack';
    src: url('../fonte/Arial\ Black.ttf') formart ('truetype');
}
:root {

    --cor1: #8A148C;
    --cor1-1: #610963;
    --cor2: #9517A6;
    --cor2-2: rgb(207, 49, 207); 
    --cor3: #E4C2F2;
    --cor4: #030A8C;
    --cor5: #E4E4F2;
    --body: #eef;
    --footer: #dde5ff;

    /* Fontes */
    --fonte-arial: 'arialblack', Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {

    /* background-color: var(--cor5) */
    background-color: #eef;
}

main {

    /* background-color: var(--cor5); */
    background-color: #eef;
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
}

header {

    margin-top: 20px;
    
}

header >nav {

    background-color: var(--cor3);
    padding: 2px 5px 13px;
    max-width: 855px;
   /* margin: auto; */
    display: block;
    margin: 31px 197px 40px 188px;
    
    
}

header >nav ul {

    list-style-position: inside;
    list-style-type: disc;
    color: #8A148C;
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px; */
    padding: 10px 20px 20px ;
}
header >nav li {

    float: left;
    margin-right: 2em;
}

header >nav > ul> li a {

    text-decoration: none;
    color: #610963;
    font-size: .970em;
    
}

a.link:hover {

    text-decoration: underline;
    color: rgb(207, 49, 207);
}

article > .sessao1 h1 {

    color: var(--cor4);
    font-weight: bolder;
    font-size: 1.5em;
    font-family: var(--fonte-arial);
    padding: 10px;
    
}

article > .sessao1 p {

    color: var(--cor4);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: var(--cor2);
    line-height: 1.6;
    font-size: .875em;
    max-width: 600px;
    margin-bottom: 15px;
    
    
}

article > .sessao2 h2 {

    color: var(--cor4);
    font-weight: bolder;
    font-size: 1.2em;
    font-family: var(--fonte-arial);
    padding: 10px;
    
}

article > .sessao2 p {

    color: var(--cor4);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: var(--cor2);
    line-height: 1.6;
    font-size: .875em;
    max-width: 600px;
    margin-bottom: 15px;

}

article > .sessao3 h2 {

    color: var(--cor4);
    font-weight: bolder;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.img {

    float: left;
    margin-bottom: -20px;
    
}

article > .sessao3 p {

    color: var(--cor4);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: var(--cor2);
    line-height: 1.6;
    font-size: .875em;
    max-width: 600px;
    margin-bottom: 15px;
    
}

aside {

    background-color: var(--footer);
    max-width: 200px;
    padding: 20px;
    margin-bottom: 15px;
    float: right;
    position: absolute;
    left: 64%;
    top: 29%;
    transform: (-64%, -50%);
    

}

aside >section h1 {

    color: #030A8C;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: bolder;
    font-size: 1em;
    font-family: var(--fonte-arial);
}

.sessao4 p {

    line-height: 1.6em;
    font-size: .875em;
    color: var(--cor2);
   /* letter-spacing: 0.5px; */
   word-spacing: 0.3em;
   text-align: justify;
}

aside ul {

    padding: 20px;
    font-size: .875em;
    color: var(--cor2);
}

section#p {

    padding: 20px;
    font-size: .875em;
    color: var(--cor2);
    text-align: left;

    
}

footer {

    max-width: 855px;
    background-color: #dde5ff;
    /* background-color: #b1b5f0b8; */
    padding: 11px;
    margin: 8px;
    margin-right: 28px;
}

footer p {

    color: #909;
}